# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 19.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 20.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://siwikd:siwikartikadewi@bigdata10.guqcq.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employees = [
    {'name': 'Jack', 'department': 'IT', 'age': 35, 'salary': 6000},
    {'name': 'Ferdi Koplinh', 'department': 'HR', 'age': 38, 'salary': 5200},
    {'name': 'Davv', 'department': 'Marketing', 'age': 27, 'salary': 4800},
    {'name': 'Rui', 'department': 'IT', 'age': 24, 'salary': 6000},
    {'name': 'Sye', 'department': 'Marketing', 'age': 23, 'salary': 4800},
]

# Insert data
collection.insert_many(employees)
print('Data inserted')

Data inserted

In [ ]:
# Menghapus data yang ada sebelumnya
collection.delete_many({})

# Insert data
collection.insert_many(employees)
print('Data inserted')

Data inserted

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672b4693c62e2de9dcae4cf4'), 'name': 'Jack', 'department': 'IT', 'age': 35, 'salary': 6000}
{'_id': ObjectId('672b4693c62e2de9dcae4cf5'), 'name': 'Ferdi Koplinh', 'department': 'HR', 'age': 38, 'salary': 5200}
{'_id': ObjectId('672b4693c62e2de9dcae4cf6'), 'name': 'Davv', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('672b4693c62e2de9dcae4cf7'), 'name': 'Rui', 'department': 'IT', 'age': 24, 'salary': 6000}
{'_id': ObjectId('672b4693c62e2de9dcae4cf8'), 'name': 'Sye', 'department': 'Marketing', 'age': 23, 'salary': 4800}

In [ ]:
collection.update_one(
    {'name': 'Jack'},
    {'$set': {'salary': 6500}}
)

print('Data updated')

Data updated

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 5200.0}
{'_id': 'Marketing', 'average_salary': 4800.0}
{'_id': 'IT', 'average_salary': 6250.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [ ]:
# Data produk
products = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1200},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 800},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150},
    {'name': 'Table', 'category': 'Furniture', 'price': 300},
    {'name': 'Chair', 'category': 'Furniture', 'price': 100},
    {'name': 'Shampoo', 'category': 'Beauty', 'price': 10},
    {'name': 'Toothpaste', 'category': 'Beauty', 'price': 5},
    {'name': 'Washing Machine', 'category': 'Home Appliances', 'price': 500},
    {'name': 'Refrigerator', 'category': 'Home Appliances', 'price': 800},
    {'name': 'Microwave', 'category': 'Home Appliances', 'price': 150}
]

collection.insert_many(products)
print('Products inserted')

Products inserted

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
avg_price = collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])

avg_price_value = list(avg_price)[0]['average_price']

above_avg_products = collection.find({'price': {'$gt': avg_price_value}})

for product in above_avg_products:
    print(product)

{'_id': ObjectId('672b472bc62e2de9dcae4cf9'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200}
{'_id': ObjectId('672b472bc62e2de9dcae4cfa'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 800}
{'_id': ObjectId('672b472bc62e2de9dcae4d00'), 'name': 'Washing Machine', 'category': 'Home Appliances', 'price': 500}
{'_id': ObjectId('672b472bc62e2de9dcae4d01'), 'name': 'Refrigerator', 'category': 'Home Appliances', 'price': 800}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

category_totals = collection.aggregate(pipeline)

for category in category_totals:
    print(f"Category: {category['_id']}, Total Products: {category['total_products']}")

Category: Electronics, Total Products: 6
Category: Furniture, Total Products: 4
Category: None, Total Products: 5
Category: Beauty, Total Products: 4
Category: Home Appliances, Total Products: 6

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {
        '_id': '$department',
        'employees': {'$push': '$$ROOT'}
    }},
    {'$project': {
        'department': '$_id',
        'employees': {'$slice': ['$employees', 5]}
    }}
]

top_5_employees = collection.aggregate(pipeline)

for dept in top_5_employees:
    print(f"Department: {dept['department']}")
    for emp in dept['employees']:
        print(emp)

Department: None
{'_id': ObjectId('672b472bc62e2de9dcae4cf9'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200}
{'_id': ObjectId('672b472bc62e2de9dcae4cfa'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 800}
{'_id': ObjectId('672b472bc62e2de9dcae4cfb'), 'name': 'Headphones', 'category': 'Electronics', 'price': 150}
{'_id': ObjectId('672b472bc62e2de9dcae4cfc'), 'name': 'Table', 'category': 'Furniture', 'price': 300}
{'_id': ObjectId('672b472bc62e2de9dcae4cfd'), 'name': 'Chair', 'category': 'Furniture', 'price': 100}
Department: HR
{'_id': ObjectId('672b4693c62e2de9dcae4cf5'), 'name': 'Ferdi Koplinh', 'department': 'HR', 'age': 38, 'salary': 5200}
Department: IT
{'_id': ObjectId('672b4693c62e2de9dcae4cf4'), 'name': 'Jack', 'department': 'IT', 'age': 35, 'salary': 6500}
{'_id': ObjectId('672b4693c62e2de9dcae4cf7'), 'name': 'Rui', 'department': 'IT', 'age': 24, 'salary': 6000}
Department: Marketing
{'_id': ObjectId('672b4693c62e2de9dcae4cf6'), 'name': 'Davv', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('672b4693c62e2de9dcae4cf8'), 'name': 'Sye', 'department': 'Marketing', 'age': 23, 'salary': 4800}

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [ ]:
collection.delete_many({'age': {'$lt': 25}})
print('Karyawan yang berusia di bawah 25 tahun telah dihapus')

Karyawan yang berusia di bawah 25 tahun telah dihapus

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
for dept in report:
    department_name = dept['_id'] if dept['_id'] is not None else "Unknown Department"
    print(f"Department: {department_name}")
    print(f"Total Salary: {dept['total_salary']}")

    if dept['avg_age'] is not None:
        print(f"Average Age: {dept['avg_age']:.2f}")
    else:
        print("Average Age: Data not available")

Department: Marketing
Total Salary: 4800
Average Age: 27.00
Department: IT
Total Salary: 6500
Average Age: 35.00