# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [17]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://siwikd:siwikartikadewi@bigdata10.guqcq.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [18]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('6734e268c680d7d9ee9d65d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6734e268c680d7d9ee9d65d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [19]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('6734e268c680d7d9ee9d65d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6734e268c680d7d9ee9d65d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [28]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [29]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Physics', 'max_enrollment': 15}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [20]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6734e268c680d7d9ee9d65d8'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6734e268c680d7d9ee9d65d9'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6734e268c680d7d9ee9d65da'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6734e268c680d7d9ee9d65db'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [21]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6734e268c680d7d9ee9d65d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6734e268c680d7d9ee9d65d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6734e268c680d7d9ee9d65da'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6734e268c680d7d9ee9d65db'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [22]:
from pymongo import MongoClient

pipeline1 = [
    {"$group": {
        "_id": "$department",
        "course_count": {"$sum": 1}
    }}
]

result1 = list(courses_collection.aggregate(pipeline1))
print("Jumlah kursus per departemen:")
for doc in result1:
    print(doc)

Jumlah kursus per departemen:
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}

In [24]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://siwikd:siwikartikadewi@bigdata10.guqcq.mongodb.net/')
db = client['company_db']
courses_collection = db['employees']

pipeline2 = [
    {"$match": {
        "department": "Computer Science",
        "enrollments": {"$gt": 25}
    }},
    {"$group": {
        "_id": "$department",
        "filtered_courses": {"$push": "$course"}
    }}
]

result2 = list(courses_collection.aggregate(pipeline2))

# Mengecek apakah ada hasil
if result2:
    print("\nKursus di departemen 'Computer Science' dengan lebih dari 25 pendaftar:")
    for doc in result2:
        print(doc)
else:
    print("\nTidak ada kursus di departemen 'Computer Science' dengan lebih dari 25 pendaftar.")

Tidak ada kursus di departemen 'Computer Science' dengan lebih dari 25 pendaftar.

In [25]:
from pymongo import MongoClient, InsertOne

# Koleksi untuk courses dan students
courses_collection = db['employees']
students_collection = db['students']

# Menambahkan 5 data siswa ke koleksi students
students_data = [
    InsertOne({'_id': 'student1', 'name': 'Riko', 'age': 20, 'major': 'Computer Science'}),
    InsertOne({'_id': 'student2', 'name': 'Ayu', 'age': 21, 'major': 'Mathematics'}),
    InsertOne({'_id': 'student3', 'name': 'Budi', 'age': 22, 'major': 'History'}),
    InsertOne({'_id': 'student4', 'name': 'Dewi', 'age': 20, 'major': 'Computer Science'}),
    InsertOne({'_id': 'student5', 'name': 'Citra', 'age': 21, 'major': 'Physics'})
]

students_collection.bulk_write(students_data)
print("5 data siswa berhasil ditambahkan.")

5 data siswa berhasil ditambahkan.

In [26]:
from pymongo import MongoClient, UpdateOne

# Menambahkan `enrollment_ids` ke dokumen di koleksi `courses`
operations = [
    UpdateOne(
        {"course": "Math 101"},
        {"$set": {"enrollment_ids": ["student1", "student5"]}}
    ),
    UpdateOne(
        {"course": "CS 102"},
        {"$set": {"enrollment_ids": ["student2"]}}
    ),
    UpdateOne(
        {"course": "History 201"},
        {"$set": {"enrollment_ids": ["student3"]}}
    ),
    UpdateOne(
        {"course": "Physics 202"},
        {"$set": {"enrollment_ids": ["student4"]}}
    )
]

courses_collection.bulk_write(operations)
print("ID pendaftaran berhasil ditambahkan ke kursus.")

ID pendaftaran berhasil ditambahkan ke kursus.

In [27]:
pipeline = [
    {"$lookup": {
        "from": "students",              # Koleksi yang ingin di-join
        "localField": "student_ids",      # Field di koleksi courses yang memiliki ID siswa
        "foreignField": "_id",            # Field di koleksi students yang merupakan ID siswa
        "as": "student_details"           # Nama field baru untuk hasil join
    }}
]

result3 = list(courses_collection.aggregate(pipeline))
print("\nKursus dengan detail siswa yang terdaftar:")
for doc in result3:
    print(doc)

Kursus dengan detail siswa yang terdaftar:
{'_id': ObjectId('6734e268c680d7d9ee9d65d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_ids': ['student1', 'student5'], 'student_details': []}
{'_id': ObjectId('6734e268c680d7d9ee9d65d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_ids': ['student2'], 'student_details': []}
{'_id': ObjectId('6734e268c680d7d9ee9d65da'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_ids': ['student3'], 'student_details': []}
{'_id': ObjectId('6734e268c680d7d9ee9d65db'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_ids': ['student4'], 'student_details': []}